@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Bonheur+Royale&display=swap");

@import "tailwindcss";
@theme {
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1280px;
  --breakpoint-xxl: 1440px;

  --color-primary: #3a1a15;
  --color-secondary: #af6900;
  --color-background: #fff9ec;
  --color-surface: #f5ebda;
  --color-error-100: #ffd6da;
  --color-error-200: #990d23;
  --color-9e: #9e845c;
  --font-be: "Be Vietnam Pro", sans-serif;
  --font-bonheur: "Bonheur Royale", cursive;
  --font-bellota: "Bellota", cursive;
}

@layer utilities {
  body {
    font-family: "Be Vietnam Pro", sans-serif;
  }

  .p-normal {
    @apply px-4.5 py-10 sm:px-6 xl:py-15;
  }
  .container {
    @apply container mx-auto;
  }

  .image-contain {
    @apply h-full w-full object-contain;
  }

  .image-cover {
    @apply h-full w-full object-cover;
  }

  .transition-colors-300 {
    @apply transition-colors duration-300;
  }

  .swiper-pagination-bullet {
    background-color: #482817 !important;
  }

  .swiper-pagination-bullet-active {
    background-color: #482817 !important;
  }

  .pagination .swiper-pagination {
    display: none !important;
  }

  .information p {
    font-weight: bold;
  }

  .information p span {
    font-weight: normal;
  }

  .security {
    list-style-type: disc; /* Hiển thị dấu chấm tròn đen */
    padding-left: 16px;
  }
  .security > li > a {
    font-weight: bold;
  }

  .security > li:hover > a {
    @apply text-error-200 transition-colors duration-300;
  }
}
